<div class="flex flex-col p-6 md:p-8 gap-4 relative">
    <button mat-icon-button class="absolute top-2 right-2" aria-label="Cerrar" (click)="onCancel()">
        <mat-icon>close</mat-icon>
    </button>
    <h2 class="text-3xl font-bold mb-4">Nuevo Proveedor</h2>

    <form [formGroup]="proveedorForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" required>
                <mat-error *ngIf="proveedorForm.get('nombre')?.hasError('required')">
                    El nombre es requerido
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Código</mat-label>
                <input matInput formControlName="codigo" required>
                <mat-error *ngIf="proveedorForm.get('codigo')?.hasError('required')">
                    El código es requerido
                </mat-error>
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
            <mat-form-field appearance="outline">
                <mat-label>NIT</mat-label>
                <input matInput formControlName="nit">
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <mat-form-field appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="telefono" required>
                <mat-error *ngIf="proveedorForm.get('telefono')?.hasError('required')">
                    El teléfono es requerido
                </mat-error>
                <mat-error *ngIf="proveedorForm.get('telefono')?.hasError('telefonoInvalid')">
                    El teléfono debe comenzar con +53
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Dirección</mat-label>
                <input matInput formControlName="direccion" required>
                <mat-error *ngIf="proveedorForm.get('direccion')?.hasError('required')">
                    La dirección es requerida
                </mat-error>
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Tipo Empresa</mat-label>
                <mat-select formControlName="tipo_empresa" required>
                    <mat-option *ngFor="let tipo of tiposEmpresa" [value]="tipo.nombre">
                        {{ tipo.nombre }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="proveedorForm.get('tipo_empresa')?.hasError('required')">
                    El tipo de empresa es requerido
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="proveedorForm.get('email')?.hasError('required')">
                    El email es requerido
                </mat-error>
                <mat-error *ngIf="proveedorForm.get('email')?.hasError('email')">
                    Ingrese un email válido
                </mat-error>
            </mat-form-field>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Representante Legal</mat-label>
                <mat-select formControlName="representante_legal" required>
                    <mat-option *ngFor="let rep of representantes" [value]="rep.id">
                        {{ rep.nombre }} - {{ rep.cargo }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="proveedorForm.get('representante_legal')?.hasError('required')">
                    El representante legal es requerido
                </mat-error>
            </mat-form-field>
            <div class="flex items-center gap-2 mt-6">
                <button mat-stroked-button color="primary" type="button" (click)="openAddRepresentanteDialog()">
                    Agregar Nuevo Representante
                </button>
            </div>
        </div>

        <div class="flex justify-end gap-2 mt-4">
            <button type="button" mat-stroked-button (click)="onCancel()">Cancelar</button>
            <button type="submit" mat-flat-button color="primary" [disabled]="!proveedorForm.valid">Guardar</button>
        </div>
    </form>
</div>
