/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
/* Order */
/* En tu styles.css o estilos globales */
@media print {
  body * {
    visibility: hidden;
  }
  .flex.flex-col.flex-auto.sm\:mb-18.overflow-x-auto,
  .flex.flex-col.flex-auto.sm\:mb-18.overflow-x-auto * {
    visibility: visible;
  }
  .flex.flex-col.flex-auto.sm\:mb-18.overflow-x-auto {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
