
<div class="flex flex-col flex-auto min-w-0">

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
 
      <!-- CONTENT GOES HERE -->
      <div class="h-400 min-h-400 max-h-400 border-2   rounded-2xl">



        <div class="p-6 space-y-6 w-full">
         
        
          <!-- Nuevas gráficas -->
        
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full mt-6">
          <mat-card class="p-4">

      <apx-chart
        #topMontoMayorChart
        [series]="topMontoMayorChartOptions.series"
        [chart]="topMontoMayorChartOptions.chart"
        [xaxis]="topMontoMayorChartOptions.xaxis"
        [dataLabels]="topMontoMayorChartOptions.dataLabels"
        [plotOptions]="topMontoMayorChartOptions.plotOptions"
        [title]="topMontoMayorChartOptions.title"
      ></apx-chart>
     </mat-card>

    <div class="chart-container">
      <div class="chart-header">

        <button (click)="downloadChart('topMontoMenor')">
          <i class="pi pi-download"></i>
        </button>
      </div>
      <apx-chart
        #topMontoMenorChart
        [series]="topMontoMenorChartOptions.series"
        [chart]="topMontoMenorChartOptions.chart"
        [xaxis]="topMontoMenorChartOptions.xaxis"
        [dataLabels]="topMontoMenorChartOptions.dataLabels"
        [plotOptions]="topMontoMenorChartOptions.plotOptions"
        [title]="topMontoMenorChartOptions.title"
      ></apx-chart>
    </div>

    <!-- Top 10 Vigencias -->
    <div class="chart-container">
      <div class="chart-header">

        <button (click)="downloadChart('topVigenciaMayor')">
          <i class="pi pi-download"></i>
        </button>
      </div>
      <apx-chart
        #topVigenciaMayorChart
        [series]="topVigenciaMayorChartOptions.series"
        [chart]="topVigenciaMayorChartOptions.chart"
        [xaxis]="topVigenciaMayorChartOptions.xaxis"
        [dataLabels]="topVigenciaMayorChartOptions.dataLabels"
        [plotOptions]="topVigenciaMayorChartOptions.plotOptions"
        [title]="topVigenciaMayorChartOptions.title"
      ></apx-chart>
    </div>

    <div class="chart-container">
      <div class="chart-header">

        <button (click)="downloadChart('topVigenciaMenor')">
          <i class="pi pi-download"></i>
        </button>
      </div>
      <apx-chart
        #topVigenciaMenorChart
        [series]="topVigenciaMenorChartOptions.series"
        [chart]="topVigenciaMenorChartOptions.chart"
        [xaxis]="topVigenciaMenorChartOptions.xaxis"
        [dataLabels]="topVigenciaMenorChartOptions.dataLabels"
        [plotOptions]="topVigenciaMenorChartOptions.plotOptions"
        [title]="topVigenciaMenorChartOptions.title"
      ></apx-chart>
    </div>

    <!-- Distribución por Duración -->
    <div class="chart-container">
      <div class="chart-header">

        <button (click)="downloadChart('duracionBuckets')">
          <i class="pi pi-download"></i>
        </button>
      </div>
      <apx-chart
        #duracionBucketsChart
        [series]="duracionBucketsChartOptions.series"
        [chart]="duracionBucketsChartOptions.chart"
        [xaxis]="duracionBucketsChartOptions.xaxis"
        [dataLabels]="duracionBucketsChartOptions.dataLabels"
        [plotOptions]="duracionBucketsChartOptions.plotOptions"
        [title]="duracionBucketsChartOptions.title"
      ></apx-chart>
    </div>

    <!-- Tipos de Contratos -->
    <div class="chart-container">
      <div class="chart-header">

        <button (click)="downloadChart('tiposContratos')">
          <i class="pi pi-download"></i>
        </button>
      </div>
      <apx-chart
        #tiposContratosChart
        [series]="tiposContratosChartOptions.series"
        [chart]="tiposContratosChartOptions.chart"
        [xaxis]="tiposContratosChartOptions.xaxis"
        [dataLabels]="tiposContratosChartOptions.dataLabels"
        [plotOptions]="tiposContratosChartOptions.plotOptions"
        [title]="tiposContratosChartOptions.title"
      ></apx-chart>
    </div>

    <!-- Departamentos -->
    <div class="chart-container">
      <div class="chart-header">
       
        <button (click)="downloadChart('departamentos')">
          <i class="pi pi-download"></i>
        </button>
      </div>
      <apx-chart
        #departamentosChart
        [series]="departamentosChartOptions.series"
        [chart]="departamentosChartOptions.chart"
        [xaxis]="departamentosChartOptions.xaxis"
        [dataLabels]="departamentosChartOptions.dataLabels"
        [plotOptions]="departamentosChartOptions.plotOptions"
        [title]="departamentosChartOptions.title"
      ></apx-chart>
    </div>
  </div>
  </div>
  </div>
  </div>
  