<!-- File: src/app/modules/organizacion/entidad-list/entidad-list.component.html -->
<div class="flex flex-col min-h-screen p-6 w-full">
  <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden mb-6 w-full">
    <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
      <mat-icon
        class="icon-size-24 opacity-25 text-blue-500 dark:text-blue-400"
        [svgIcon]="'heroicons_outline:building-office'"></mat-icon>
    </div>



  <div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
      <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
      </div>
      <div class="text-4xl font-extrabold tracking-tight">Mi Entidad</div>
      <div class="flex flex-col sm:flex-row shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 search-add-wrapper">

        <button
          class="ml-4 mt-4 sm:mt-0 w-40 text-lg"
          mat-flat-button
          [color]="'primary'"
          [disabled]="!canAddEntidad()"
          (click)="openAddEntidadDialog()">
          <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
          <span class="ml-2 mr-1">Agregar</span>
        </button>
      </div>
    </div>

    <div class="flex flex-auto overflow-hidden ">
      <div class="flex flex-col flex-auto sm:mb-18 overflow-x-auto">
        <ng-container *ngIf="dataSource.data.length === 1; else multipleEntities">
          <div class="flex flex-col w-full">

            <!-- View mode -->
            <ng-container *ngIf="!editMode">

                <!-- Header -->
<div class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700 custom-top-offset">
    <!-- Background -->

                    <!-- Background -->
                    <ng-container *ngIf="dataSource.data[0].background">
                        <img
                            class="absolute inset-0 object-cover w-full h-full"
                            [src]="dataSource.data[0].background">
                    </ng-container>
                    <!-- Close button -->
                    <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                        <a
                            mat-icon-button
                            [matTooltip]="'Close'"
                            [routerLink]="['../']">
                            <mat-icon
                                class="text-white"
                                [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
                        </a>
                    </div>
                </div>

                <!-- Contact -->
                <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
                    <div class="w-full max-w-3xl">

                        <!-- Avatar and actions -->
                        <div class="flex flex-auto items-end -mt-16">
                            <!-- Avatar -->
                            <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                                <img
                                    class="object-cover w-full h-full"
                                    *ngIf="dataSource.data[0].avatar"
                                    [src]="dataSource.data[0].avatar">
                                <div
                                    class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                    *ngIf="!dataSource.data[0].avatar">
                                    {{dataSource.data[0].nombre_entidad.charAt(0)}}
                                </div>
                            </div>
                            <!-- Actions -->
                            <div class="flex items-center ml-auto mb-1">
                                <button
                                    mat-stroked-button
                                    (click)="openEditEntidadDialog(dataSource.data[0])">
                                    <mat-icon
                                        class="icon-size-5"
                                        [svgIcon]="'heroicons_solid:pencil-square'"></mat-icon>
                                    <span class="ml-2">Editar</span>
                                </button>
                            </div>
                        </div>

                        <!-- Name -->
                        <div class="mt-3 text-4xl font-bold truncate">{{dataSource.data[0].nombre_entidad}}</div>

                        <!-- Tags -->
                        <ng-container *ngIf="dataSource.data[0].tags?.length">
                            <div class="flex flex-wrap items-center mt-2">
                                <!-- Tag -->
                                <ng-container *ngFor="let tag of dataSource.data[0].tags; trackBy: trackByFn">
                                    <div class="flex items-center justify-center py-1 px-3 mr-3 mb-3 rounded-full leading-normal text-gray-500 bg-gray-100 dark:text-gray-300 dark:bg-gray-700">
                                        <span class="text-sm font-medium whitespace-nowrap">{{tag.title}}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>

                        <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                            <!-- Código -->
                            <div class="flex sm:items-center">
                                <mat-icon [svgIcon]="'heroicons_outline:identification'"></mat-icon>
                                <div class="ml-6 leading-6">{{dataSource.data[0].codigo_entidad}}</div>
                            </div>

                            <!-- Domicilio Legal -->
                            <div class="flex sm:items-center">
                                <mat-icon [svgIcon]="'heroicons_outline:building-office'"></mat-icon>
                                <div class="ml-6 leading-6">{{dataSource.data[0].domicilio_legal}}</div>
                            </div>

                            <!-- Teléfonos -->
                            <div class="flex sm:items-center">
                                <mat-icon [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                                <div class="ml-6 leading-6">{{dataSource.data[0].telefonos}}</div>
                            </div>

                            <!-- Municipio -->
                            <div class="flex sm:items-center">
                                <mat-icon [svgIcon]="'heroicons_outline:map-pin'"></mat-icon>
                                <div class="ml-6 leading-6">{{dataSource.data[0].municipio?.nombre_municipio}}</div>
                            </div>
                             <div class="flex sm:items-center">
                                <mat-icon [svgIcon]="'heroicons_outline:map-pin'"></mat-icon>
                                <div class="ml-6 leading-6">{{dataSource.data[0].provincia?.nombre_provincia}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="editMode">
                <div class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0">
                    <div class="w-full max-w-3xl">
                        <form [formGroup]="contactForm" (ngSubmit)="updateEntidad()">

                            <!-- Logo and actions -->
                            <div class="flex flex-auto items-end -mt-16">
                                <!-- Logo -->
                                <div class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                                    <!-- Upload / Remove logo -->
                                    <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                                    <div class="absolute inset-0 flex items-center justify-center z-20">
                                        <div>
                                            <input
                                                id="logo-file-input"
                                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                                type="file"
                                                [multiple]="false"
                                                [accept]="'image/jpeg, image/png'"
                                                (change)="uploadLogo($event.target.files)"
                                                #logoFileInput>
                                            <label
                                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
                                                for="logo-file-input"
                                                matRipple>
                                                <mat-icon
                                                    class="text-white"
                                                    [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                                            </label>
                                        </div>
                                        <div>
                                            <button
                                                mat-icon-button
                                                (click)="removeLogo()">
                                                <mat-icon
                                                    class="text-white"
                                                    [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Image/Letter -->
                                    <img
                                        class="object-cover w-full h-full"
                                        *ngIf="contactForm.get('logo').value"
                                        [src]="contactForm.get('logo').value">
                                    <div
                                        class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                        *ngIf="!contactForm.get('logo').value && contactForm.get('nombre_entidad').value">
                                        {{contactForm.get('nombre_entidad').value.charAt(0)}}
                                    </div>
                                </div>
                            </div>

                            <!-- Nombre Entidad -->
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Nombre Entidad</mat-label>
                                <input matInput formControlName="nombre_entidad" placeholder="Nombre Entidad" required>
                            </mat-form-field>

                            <!-- Código Entidad -->
                              <mat-form-field class="w-full" appearance="fill">
                                  <mat-label>Código Entidad</mat-label>
                                  <input matInput formControlName="codigo_entidad" placeholder="Código Entidad">
                              </mat-form-field>
  <!-- Domicilio Legal -->
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Domicilio Legal</mat-label>
                                <input matInput formControlName="domicilio_legal" placeholder="Domicilio Legal">
                            </mat-form-field>

                            <!-- Teléfonos -->
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Teléfonos</mat-label>
                                <input matInput formControlName="telefonos" placeholder="Teléfonos">
                            </mat-form-field>

                            <!-- Municipio -->
                            <mat-form-field class="w-full" appearance="fill">
                                <mat-label>Municipio</mat-label>
                                <input matInput formControlName="municipio" placeholder="Municipio">
                            </mat-form-field>

                            <!-- Actions -->
                            <div class="flex justify-end space-x-4 mt-6">
                                <button mat-stroked-button type="button" (click)="cancelEdit()">Cancelar</button>
                                <button mat-flat-button color="primary" type="submit" [disabled]="contactForm.invalid">Guardar</button>
                            </div>

                        </form>
                    </div>
                  </div>
              </ng-container>
            </div>
          </ng-container>
          <ng-template #multipleEntities>
          <ng-container *ngIf="dataSource.data.length > 0; else noEntities">
            <div class="flex flex-col h-full overflow-y-auto">
              <div class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                matSort
                matSortDisableClear
                style="grid-template-columns: 40px repeat(6, minmax(120px, 1fr)) 100px;">
                <div></div>
                <div [mat-sort-header]="'id'">ID</div>
                <div [mat-sort-header]="'nombre_entidad'">Nombre</div>
                <div [mat-sort-header]="'codigo_entidad'">Código</div>
                <div [mat-sort-header]="'domicilio_legal'">Domicilio Legal</div>
                <div [mat-sort-header]="'telefonos'">Teléfonos</div>
                <div [mat-sort-header]="'municipio'">Municipio</div>
                <div class="sticky-end">Detalles</div>
              </div>

              <ng-container *ngFor="let entidad of dataSource.filteredData; trackBy: trackByFn">
                <div class="inventory-grid grid gap-4 py-3 px-6 md:px-8 border-b items-center text-m"
                  style="grid-template-columns: 40px repeat(6, minmax(120px, 1fr)) 100px;">
                  <div></div>
                  <div class="truncate">{{ entidad.id }}</div>
                  <div class="truncate" [matTooltip]="entidad.nombre_entidad" matTooltipPosition="above">
                    {{ entidad.nombre_entidad }}
                  </div>
                  <div class="truncate" [matTooltip]="entidad.codigo_entidad" matTooltipPosition="above">
                    {{ entidad.codigo_entidad }}
                  </div>
                  <div class="truncate" [matTooltip]="entidad.domicilio_legal" matTooltipPosition="above">
                    {{ entidad.domicilio_legal }}
                  </div>
                  <div class="truncate" [matTooltip]="entidad.telefonos" matTooltipPosition="above">
                    {{ entidad.telefonos }}
                  </div>
                  <div class="truncate" [matTooltip]="entidad.municipio?.nombre" matTooltipPosition="above">
                    {{ entidad.municipio?.nombre }}
                  </div>
                  <div class="flex items-center justify-center sticky-end">
                    <!-- Details button placeholder -->
                    <button
                      class="min-w-10 min-h-7 h-7 px-2 leading-6 whitespace-nowrap"
                      mat-stroked-button
                      (click)="openEditEntidadDialog(entidad)">
                      <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:pencil'"></mat-icon>
                    </button>
                    <button
                      class="min-w-10 min-h-7 h-7 px-2 leading-6 whitespace-nowrap ml-2"
                      mat-stroked-button
                      color="warn"
                      (click)="deleteEntidad(entidad)">
                      <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>
            <mat-paginator
              class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
              [length]="pagination.length"
              [pageIndex]="pagination.page"
              [pageSize]="pagination.size"
              [pageSizeOptions]="[5, 10, 25, 100]"
              [showFirstLastButtons]="true"></mat-paginator>
          </ng-container>

          <ng-template #noEntities>
            <div class="p-8 sm:p-16 border-b text-4xl font-semibold tracking-tight text-center">
              ¡No hay entidades!
            </div>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>
