




<div class="flex flex-col min-h-screen p-6 w-full">
    <!-- Card -->
    <div class="relative flex flex-col flex-auto p-6 pr-3 pb-3 bg-card rounded-2xl shadow overflow-hidden mb-6 w-full">
      <div class="absolute bottom-0 right-0 w-24 h-24 -m-6">
        <mat-icon
          class="icon-size-24 opacity-25 text-green-500 dark:text-green-400"
          [svgIcon]="'heroicons_outline:check-circle'"></mat-icon>
      </div>
      

      <div class="flex flex-row flex-wrap mt-4 -mx-6">
        <div class="flex flex-col mx-6 my-3">
            <div class="text-sm font-medium leading-none text-secondary">
                Monto Inicial CUP
            </div>
            <div class="mt-2 font-medium text-3xl leading-none">
                {{ montoInicialCup | currency : "CUP" }}
            </div>
        </div>
        <div class="flex flex-col mx-6 my-3">
            <div class="text-sm font-medium leading-none text-secondary">
                Total Ejecutado CUP
            </div>
            <div class="mt-2 font-medium text-3xl leading-none">
                {{ totalEjecutadoCup | currency : "CUP" }}
            </div>
        </div>
        <div class="flex flex-col mx-6 my-3">
            <div class="text-sm font-medium leading-none text-secondary">
                Monto Restante CUP
            </div>
            <div class="mt-2 font-medium text-3xl leading-none">
                {{ montoRestanteCup | currency : "CUP" }}
            </div>
        </div>
        <div class="flex flex-col mx-6 my-3">
            <div class="text-sm font-medium leading-none text-secondary">
                Monto Inicial USD
            </div>
            <div class="mt-2 font-medium text-3xl leading-none">
                {{ montoInicialUsd }}
            </div>
        </div>
        <div class="flex flex-col mx-6 my-3">
            <div class="text-sm font-medium leading-none text-secondary">
                Total Ejecutado USD
            </div>
            <div class="mt-2 font-medium text-3xl leading-none">
                {{ totalEjecutadoUsd }}
            </div>
        </div>
        <div class="flex flex-col mx-6 my-3">
            <div class="text-sm font-medium leading-none text-secondary">
                Monto Restante USD
            </div>
            <div class="mt-2 font-medium text-3xl leading-none">
                {{ montoRestanteUsd }}
            </div>
        </div>
        <!-- Se elimina el tiempo restante general -->
      </div>
    </div>
  
    <!-- Proveedores Table -->
    <div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">
      <!-- Header -->
      <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Loader -->
        <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
        </div>
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Contratos</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-64"
                [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"
                ></mat-icon>
                <input
                    matInput
                    [formControl]="searchInputControl"
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar contratos'"
                />
            </mat-form-field>
            <!-- Add contract button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="openNewContratoDialog()"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Agregar</span>
            </button>
        </div>
    </div>
  
      <!-- Main -->
      <div class="flex flex-auto overflow-hidden">
        <!-- Proveedores list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-x-auto">
            <ng-container *ngIf="dataSource.data.length > 0; else noContracts">
            <div class="grid">
              <!-- Header -->
              <div class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
              matSort
              matSortDisableClear
              style="grid-template-columns: 40px repeat(10, minmax(100px, 1fr)) 100px;">
                  <div></div>
                  <div [mat-sort-header]="'no_contrato'">
                      No. Contrato
                  </div>
                  <div [mat-sort-header]="'proveedor'">Proveedor</div>
                  <div [mat-sort-header]="'tipo_contrato'">
                      Tipo de Contrato
                  </div>
                  <div [mat-sort-header]="'departamento'">
                      Departamento
                  </div>
                  <div [mat-sort-header]="'valor_cup'">
                      Valor (CUP)
                  </div>
                  <div [mat-sort-header]="'valor_usd'">
                      Valor (USD)
                  </div>
                  <div [mat-sort-header]="'fecha_entrada'">
                      Fecha Entrada
                  </div>
                  <div [mat-sort-header]="'fecha_firmado'">
                      Fecha Firmado
                  </div>
                  <div [mat-sort-header]="'vigencia'">Vigencia</div>
                  <div [mat-sort-header]="'tiempoRestante'">Tiempo Restante</div>
                  <div class="sticky-end">Detalles</div>
              </div>
              <!-- Rows -->
              <ng-container *ngFor="let contract of dataSource.filteredData; trackBy: trackByFn">
                <div class="inventory-grid grid gap-4 py-3 px-6 md:px-8 border-b items-center text-m"
                    style="grid-template-columns: 40px repeat(10, minmax(100px, 1fr)) 100px;">
                        <!-- Estado with colored dot -->
                        <div>
                            <span
                                class="w-3 h-3 rounded-full inline-block"
                                [ngClass]="{
                                    'bg-green-500':
                                        contract.estado === 'Activo',
                                    'bg-orange-500':
                                        contract.estado ===
                                        'Casi a vencer',
                                    'bg-red-500':
                                        contract.estado === 'Vencido'
                                }"
                            ></span>
                        </div>
                        <!-- No. Contrato -->
                        <div class="truncate">
                            {{ contract.no_contrato }}
                        </div>
                        <!-- Provider -->
                        <div class="truncate" [matTooltip]="contract.proveedor.nombre" matTooltipPosition="above">
                            {{ contract.proveedor.nombre }}
                        </div>
                        <!-- Contract Type -->
                        <div class="truncate" matTooltip="contract.tipo_contrato?.nombre_tipo_contrato" matTooltipPosition="above">
                            {{ contract.tipo_contrato?.nombre_tipo_contrato }}
                        </div>
                        <!-- Departamento -->
                        <div class="truncate" [matTooltip]="contract.departamento?.nombre_departamento" matTooltipPosition="above">
                            {{ contract.departamento?.nombre_departamento }}
                        </div>
                        <!-- Value (CUP) -->
                        <div class="truncate">
                            {{
                                contract.valor_cup
                                    | currency
                                        : "CUP"
                                        : "symbol"
                                        : "1.0-0"
                            }}
                        </div>
                        <!-- Value (USD) -->
                        <div class="truncate">
                            {{
                                contract.valor_usd
                                    | currency
                                        : "USD"
                                        : "symbol"
                                        : "1.0-0"
                            }}
                        </div>
                        <!-- Fecha Entrada -->
                        <div class="truncate">
                            {{
                                contract.fecha_entrada | date : "d/M/yy"
                            }}
                        </div>
                        <!-- Signed Date -->
                        <div class="truncate">
                            {{
                                contract.fecha_firmado | date : "d/M/yy"
                            }}
                        </div>
                        <!-- Vigencia -->
                        <div class="truncate ">
                            {{ contract.vigencia.vigencia }}
                        </div>
                        <!-- Tiempo Restante -->
                        <div class="truncate text-red-600 dark:text-sky-400">
                            {{ contract.tiempoRestante }}
                        </div>
                        <!-- Details button -->
                        <div class="flex items-center justify-center sticky-end">
                            <button
                                class="min-w-10 min-h-7 h-7 px-2 leading-6 whitespace-nowrap"
                                mat-stroked-button
                                (click)="toggleDetails(contract.id)">
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="selectedRow?.id === contract.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                            </button>
                        </div>
                    </div>

                <div class="grid" *ngIf="selectedRow?.id === contract.id">
                    <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: { $implicit: contract }">
                    </ng-container>
                </div>


        </ng-container>
            </div>
  
            <mat-paginator
              class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
              [ngClass]="{'pointer-events-none': isLoading}"
              [length]="pagination.length"
              [pageIndex]="pagination.page"
              [pageSize]="pagination.size"
              [pageSizeOptions]="[5, 10, 25, 100]"
              [showFirstLastButtons]="true"></mat-paginator>
          </ng-container>
  
          <ng-template #rowDetailsTemplate let-contract>
            <div class="shadow-lg overflow-hidden">
                <div class="flex border-b">
                    <!-- Selected contract form -->
                    <form class="flex flex-col w-full" [formGroup]="selectedRowForm">
                        <div class="flex flex-col sm:flex-row p-8">
                            <!-- Contract details -->
                            <div class="flex flex-auto flex-wrap">
                                <!-- Contract No., Provider, Type -->
                                <div
                                    class="flex flex-col w-full lg:w-2/4 sm:pl-8"
                                >
                                    <!-- Contract No. -->
                                    <mat-form-field class="w-full">
                                        <mat-label
                                            >No. Contrato</mat-label
                                        >
                                        <input
                                            matInput
                                            formControlName="no_contrato"
                                        />
                                    </mat-form-field>
                                    <!-- Provider -->
                                    <mat-form-field class="w-full">
                                        <mat-label>Proveedor</mat-label>
                                        <mat-select
                                            formControlName="proveedor"
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let provider of proveedores
                                                "
                                                [value]="provider"
                                            >
                                                {{ provider.nombre }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- Contract Type -->
                                    <mat-form-field class="w-full">
                                        <mat-label
                                            >Tipo de Contrato</mat-label
                                        >
                                        <mat-select
                                            formControlName="tipo_contrato"
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let type of tiposContrato
                                                "
                                                [value]="type"
                                            >
                                                {{ type.tipo_contrato }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- Values and Dates -->
                                <div
                                    class="flex flex-col w-full lg:w-1/4 sm:pl-8"
                                >
                                    <!-- Value CUP -->
                                    <mat-form-field class="w-full">
                                        <mat-label
                                            >Valor (CUP)</mat-label
                                        >
                                        <span matPrefix>CUP</span>
                                        <input
                                            matInput
                                            type="number"
                                            formControlName="valor_cup"
                                        />
                                    </mat-form-field>
                                    <!-- Value USD -->
                                    <mat-form-field class="w-full">
                                        <mat-label
                                            >Valor (USD)</mat-label
                                        >
                                        <span matPrefix>$</span>
                                        <input
                                            matInput
                                            type="number"
                                            formControlName="valor_usd"
                                        />
                                    </mat-form-field>
                                    <!-- Signed Date -->
                                    <mat-form-field class="w-full">
                                        <mat-label
                                            >Fecha Firmado</mat-label
                                        >
                                        <input
                                            matInput
                                            type="date"
                                            formControlName="fecha_firmado"
                                        />
                                    </mat-form-field>
                                </div>
                                <!-- Vigencia and Observations -->
                                <div
                                    class="flex flex-col w-full lg:w-1/4 sm:pl-8"
                                >
                                    <!-- Vigencia -->
                                    <mat-form-field class="w-full">
                                        <mat-label>Vigencia</mat-label>
                                        <mat-select
                                            formControlName="vigencia"
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let vig of vigencias
                                                "
                                                [value]="vig"
                                            >
                                                {{ vig.vigencia }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- Observations -->
                                    <mat-form-field class="w-full">
                                        <mat-label
                                            >Observaciones</mat-label
                                        >
                                        <textarea
                                            matInput
                                            formControlName="observaciones"
                                        ></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div
                            class="flex items-center justify-between w-full border-t px-8 py-4"
                        >
                            <button
                                class="-ml-4"
                                mat-button
                                [color]="'warn'"
                                (click)="deleteSelectedRecord()"
                            ></button>
                            <div class="flex items-center">
                                <button
                                    class="-ml-4"
                                    mat-button
                                    [color]="'primary'"
                                    (click)="updateSelectedRecord()"
                                >
                                    Actualizar
                                </button>

                                <button
                                    class="-ml-4"
                                    mat-button
                                    [color]="'warn'"
                                    (click)="deleteSelectedRecord()"
                                >
                                    Eliminar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </ng-template>
  
        <ng-template #noContracts>
            <div  class="p-8 sm:p-16 border-b text-4xl font-semibold tracking-tight text-center" >
                ¡No hay contratos!
            </div>
        </ng-template>
        </div>
      </div>
    </div>
  </div>
  